.work {
  background-color: rgb(38, 38, 155);
  height: 100vh;
}

.head {
  color: #ffffff;
  padding-left: 20px;
}

.contaier {
  width: 300px;
  padding-right: 10px;
  color: #ffffff;
}

.total-contaier {
  display: flex;
  justify-content: center;
}

.container-head {
  color: yellow;
}
